.main {
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vh;
  pointer-events: none;
}

.App-logo-header {
  max-height: 15vw;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 10vh;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.bg-bimbimon-light {
  background: #d9f0f0;
}

.Social-logo {
  height: 40px;
  max-height: 8vw;
  max-width: 8vw;
  min-height: 20px;
  min-width: 20px;
  pointer-events: none;
  fill: #7D7D7D;
}

.Social-logo-inline {
  height: 25px;
  width: 25px;
  pointer-events: none;
}

.header-light {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 35px;
}

.header-bold {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.header-bold-center {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  letter-spacing: -0.02em;
  text-align: center;
}

.brand-header {
  font-style: normal;
  font-weight: 250;
  font-size: 20px;
  line-height: 24px;
}

.text-link {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  text-decoration: none;
}

.btn-main {
  background-color: #009B9B;
  border-color: #009B9B;
  border-radius: 10px;
  color: #FFFFFF;
}

.btn-scd {
  background-color: #FFFFFF;
  border-color: #009B9B;
  border-radius: 10px;
  color: #000000;
}

.Error-img {
  max-width: 70vw;
}